@font-face {
	font-family: "HelveticaNeueBold";
	src: url(../fonts/helvetica-neue-bold.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "HelveticaNeueRegular";
	src: url(../fonts/HelveticaNeueCyr-UltraLight.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

#wrapper {
	font-size: 14px;
	max-width: 26em;
	height: 13.78571428571429em;
	border: 1px solid #bababa;
	margin: auto;
	border-radius: 5px;
}

#header {
	max-width: 100%;
	height: 3.285714285714286em;
	border-bottom: 1px solid #bababa;
	font-family: HelveticaNeueBold;
	background: linear-gradient(to top, #eaeaea, white );

}
h1 {
	font-size: 1em;
	line-height: 2.642857142857143em;
	text-align: center;
	color: #444444;
}
#main {
	max-width: 100%;
    position: relative;
	font-family: HelveticaNeueRegular;
	border: 0px dotted black;

}
#main p {
	font-size: 1em;
	text-align: center;
	padding: 0 22px;
	margin-bottom: 23px;
	font-weight: bold;
	line-height: 1.5;
	color: #555555;
}
#main button {
	vertical-align: middle;
	font-family: HelveticaNeueBold;
	font-size: 1em;
	color: white;
	border-radius: 5px;

}
#main button.buttonYes, #main button.buttonNo {
	transition-duration: 0.5s;
}
#main button.buttonYes:hover, #main button.buttonNo:hover {
	opacity: 0.85;
	cursor: pointer;
}
.buttons {
	text-align: center;
}
.buttonYes {
	background: linear-gradient(to top, #6aad2d, #a8d34e);
	border: 1px solid #50771d;
	padding: 4px;
	margin-right: 4px;
}

.tickYes {
	float: left;
	width: 23px;
	height: 23px;
	border: 1px solid linear-gradient(to top, #6ca82e, #7bbc35) ;
	border-radius: 12px;
	background-color: #78bb33;

}
.buttonYes span {
	display: block;
	float: right;
	line-height: 26px;
	padding: 0 13px 0 6px;
}
.buttonNo {
	background: linear-gradient(to top, #e3414d, #f77087);
	border: 1px solid #b0333e;
	padding: 4px;
	margin-left: 4px;
}
.crossNo {
	float: left;
	width: 23px;
	height: 23px;
	border: 1px solid linear-gradient( to top #da404c, #f34755) ;
	border-radius: 12px;
	background-color: #f34755;

}
.buttonNo span {
	display: block;
	float: right;
	line-height: 26px;
	padding: 0 13px 0 6px;
}

.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}